<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="http://localhost:3000/static/css/main.css">
</head>
<body>
  <div class="wrap middle">
    <img
      src="https://wallpaperaccess.com/thumb/9070071.png"
      class="main-banner-img" />

    <div style="height: 15px"></div>

    <h1>BLOG</h1>

    <div style="height: 15px"></div>
